@model object
@{
    ViewBag.Title = "О системе";
    ViewBag.LayoutStyle = "layout_start";
}

@Html.Partial("_MainMenu")

<div class="layout_pageheader"></div>
<div class="lighttabs_container">
    <ul class="lighttabs">
        <li>
            <a class="back">◄</a>
        </li>
        <li>
            <a class="selected">@ViewBag.Title</a>
        </li>
    </ul>
    <div class="lighttabs_border"></div>
</div>
<div class="body">
    <h2>Добро пожаловать в систему Демократия2!</h2>
    <p>
        Это первая попытка практической реализации идей, изложенных в книге Л.Волкова и
        Ф.Крашенинникова «Облачная демократия».
    </p>
    <p>
        В нашей системе мы попытались реализовать механизмы, о которых идет речь в книге,
        такие, как подвижное голосование и матричное делегирование голоса.<br />
        В системе вы можете регистрироваться, вести собственный блог, создавать группы,
        ставить вопросы на голосование и обсуждать их, а также самостоятельно принимать
        различные решения.
    </p>
    <p>
        Мы надеемся, что, когда наша система наберет значительную, критическую массу пользователей,
        решения, принятые в рамках системы, станут более значимыми, чем те, которые принимаются
        в псевдополитической реальности современной России.
    </p>
    <h2>Облачная демократия</h2>
    <p>
        Это система распределенного принятия решений большой группой
        людей. Она сочетает в себе лучшие черты прямой и представительной демократии. Участник
        нашей системы по части вопросов может делегировать свой голос представителю, а по
        оставшейся части вопросов оставить право принятия решений за собой, работая, таким
        образом, в реальности прямой демократии.
    </p>
    <p>
        Система предполагает абсолютно прозрачный подход к выработке и принятию решений
        по всем актуальным проблемам политической и общественной жизни России.
    </p>
    <h2>Создатели Демократии2</h2>
    <p>
        Концепция проекта: Леонид Волков, Федор Крашенинников при поддержке большого числа единомышленников.<br />
        Продюсер проекта: Леонид Волков.<br />
        Команда разработчиков: Дмитрий Чирков, Павел Лужецкий, Роман Ямалетдинов, Артем Елтышев, Кондратий Ермолин.<br />
        Инвестор: Сергей Колесников.<br />
    </p>
</div>
