@using Federation.Web.ViewModels
@model object
@{
    ViewBag.Title = "Возможности системы";
    ViewBag.LayoutStyle = "layout_start";
}

@Html.Partial("_MainMenu")

<div class="layout_pageheader"></div>
    <div class="lighttabs_container">
        <ul class="lighttabs">
        <li><a class="back">◄</a> </li>
            <li>
                <a class="selected">@ViewBag.Title</a>
            </li>
        </ul>
        <div class="lighttabs_border"></div>
    </div>
    <div class="body">
        <div class="tableanounce" id="tableanounce_group">
            <div class="icon"></div>
            <div class="title">
                <a name="groups">
                    <h2>Группы</h2>
                </a>
            </div>
            <div class="anounce">
                <p>
                    Группы объединяют людей по хозяйственному, политическому, географическому или любому другому признаку.
                </p>
                <p>
                    Сейчас в системе уже создано много групп, их список всегда доступен по ссылке 
                    <a href="@Url.Action("groups", "home", new { groupStateFilter = -1, orderByFilter = 0 })">Группы</a> в меню системы (внизу на каждой странице).
                </p>
                <p>
                    Если вы не нашли подходящую для себя группу, вы можете создать новую, стать там модератором. Для полноценного функционирования вам необходимо будет пригласить в неё ещё 2 модераторов (количество модераторов должно быть не менее трёх)
                </p>
                <a name="existinggroups">
                    <h3>Существующие группы</h3>
                </a>
                <p>
                    В настоящий момент все группы вложены в главную группу - <a href="http://democratia2.ru/group/federation">Федерация</a>, в ней размещаются самые важные события системы.
                </p>
                <p>
                    Примеры групп разного рода в системе:
                </p>
                <table style="width: 100%" class="features_groups_list">
                    <tr>
                        <td>
                            <h4>Географические</h4>
                            <a href="/group/Moscow">Москва</a>
                            <a href="/group/Ural">Урал</a>
                            <a href="/group/spb">Петербург</a>

                            <h4>Экспертные</h4>
                            <a href="/group/education">Система образования</a>
                            <a href="/group/8f45817b-76c4-4bdb-993c-80eb3a26234e">Гражданин Наблюдатель</a>
                            <a href="/group/Casa">Жильё России</a>
                        </td>
                        <td>
                            <h4>Политические</h4>
                            <a href="/group/c30abf31-439a-48c1-8684-56654c78683a">Партия Народной Свободы</a>
                            <a href="/group/ppru">Пиратская партия России</a>
                            <a href="/group/wwwrusolidarnostru">Движение Солидарность</a>
                            <a href="/group/liberaldemocrats">Либеральная Партия</a>
                            <a href="/group/de5e6ec8-c53d-4ac5-ab58-91f64bbd661f">Московская Солидарность</a>

                            <h4>Инициативные</h4>
                            <a href="/group/putinavotstavku">Путин должен уйти</a>
                            <a href="/group/horizonzone">***группа горизонтального сопротивления***</a>
                        </td>
                        <td>
                            <h4>Тематические</h4>
                            <a href="/group/Navalny">Поддержка деятельности Алексея Навального</a>
                            <a href="/group/science">Движение за внедрение научных методов для решения общественных проблем</a>
                            <a href="/group/anticlericalism">Антиклерикальный Альянс</a>
                            <a href="/group/regionalism">Регионализм (против империи, за самоуправление регионов)</a>

                            <h4>Хозяйственные</h4>
                            <a href="/group/develop">Разработка "Демократии2"</a>
                            <a href="/group/dalslovo">Дал слово</a>
                        </td>
                    </tr>
                </table>
                <a name="groups_more">
                    <h3>Подробнее о группах в Демократии2</h3>
                </a>
                <p>                                
                    Группа считается созданной с того момента, как все три основателя группы подтвердили решение о ее создании.
                </p>
                <p>                                
                    Учредители группы становятся ее модераторами, составляя Совет модераторов группы. (Далее список модераторов может быть расширен).
                </p>
                <p>                                
                    Любое решение на уровне группы принимается простым большинством голосов в Совете модераторов (в частности, решение о включении в перечень новых модераторов). В Совете модераторов не может оставаться меньше двух членов ни в один момент времени. Если в результате выхода модераторов из группы, в группе остался только один модератор или не осталось ни одного, вся жизнь группы замораживается до проведения выборов.
                </p>
                <a name="privacy">
                    <h3>Настройки приватности</h3>
                </a>
                <p>
                    — Премодерация новых членов:
                    <br />
                    При включении этой настройки, для вступления в группу необходимо одобрение одного из модераторов.
                    <br />
                    Выйти из группы участник может в любой момент.
                    <br />
                    Открытая группа быстрее наберет количество членов, но в этом случае учредители быстрее потеряют над ней контроль и, скорее всего, будут переизбраны.
                    <br />
                    В группе закрытого типа численность будет меньше и члены набираться будут медленнее, но это будут единомышленники учредителей, соответственно, они смогут влиять на состав группы, и у них будет больше шансов удержаться у власти.
                    <br /><br />
                    — Премодерация контента:
                    <br />
                    У каждой группы есть своя стена, или блог. Автором материалов на стену может быть любой участник группы.
                    <br />
                    При включении этой настройки, размещение материала на стене группы производится только после одобрения материала хотя бы одним из модераторов.                               
                </p>
                @*<p>                                
                    <a href="http://wiki.democratia2.ru/Группы-и-сообщества.ashx" target="_blank">Более подробно о разных аспектах работы групп можно прочитать в Вики-справке</a>.
                </p>*@
            </div>
        </div>
        <br />
        <div class="tableanounce" id="tableanounce_discussions">
            <div class="icon"></div>
            <div class="title">
                <a name="discussions">
                    <h2>Обсуждения</h2>
                </a>
            </div>
            <div class="anounce">
                <p>
                    Основным способом обсуждения различных вопросов в системе являются записи в блогах участников или блогах групп.
                </p>
                <p>
                    Каждую запись в системе, будь то Запись в блоге, <a href="#petitions">Петиция</a>, <a href="#votings">Голосование</a>, <a href="#elections">Выборы</a> или что-то другое - можно обсудить. Обсуждение двухуровневое - это позволяет избежать длинных диалогов, уходящих в демагогию. В то же время, в ответе на комментарий присутствует ссылка на отвечаемый комментарий, поэтому диалог можно удобно прочитать.
                </p>
                <p>
                    В Личных сообщениях есть папка входящих и исходящих сообщений. Помимо персональных сообщений от участника к участнику - в папку Входящие приходят также уведомления от системы - в них присылаются напоминания о новых голосованиях и других важных событиях в ваших группах. Уведомления также рассылаются на почту, вместе с обновлением подписки за сутки.
                </p>
                <p>
                    Помимо комментирования записей, пользователи имеют возможность отправлять друг другу личные сообщения. В системе нет и не будет списка "друзей", это не социальная сеть. Но список тех, с кем вы за последнее время обменивались личными сообщениями - доступен в папке сообщений (иконка письма справа от планки с вашим ФИО).
                </p>
            </div>
        </div>
        <br />
        <div class="tableanounce" id="tableanounce_votings">
            <div class="icon"></div>
            <div class="title">
                <a name="votings">
                    <h2>Голосования</h2>
                </a>
            </div>
            <div class="anounce">
                <p>
                    Система позволяет проводить легитимные процессы волеизъявления участников, защищённые от накруток и других вариантов мошенничества. 
                </p>
                <p>
                    Собственно, термином Голосования в системе обозначается ограниченный по времени и кворуму (минимальному количеству голосовавших) процесс волеизъявления в формате <em>За / Против / Воздержался</em>.
                </p>
                    <a name="currentvotings">
                        <h3>Текущие голосования в Демократии2</h3>
                    </a>
                <p>
                    Текущие голосования в системе, по которым сейчас идёт процесс голосования, можно посмотреть в любой из групп - в ленте, или в специальном разделе <strong>Решения</strong>.
                    Голосования маркируются оранжевой окантовкой и оранжевым же уголком. После того, как голосование завершено, в лентах оно больше не маркируется оранжевым уголком, только окантовкой. Это позволяет легко отличать действующие и завершённые голосования.
                </p>
                    <a name="votings_more">
                        <h3>Подробнее о разных видах голосований</h3>
                    </a>
                <p>
                    В системе волеизъявления не ограничиваются только голосованиями <em>За / Против / Воздержался</em>. Уже доступны петиции, выборы - смотрите подробнее о них в соответствующих секциях этого раздела. У собственно Голосований, при создании можно задать необходимый кворум и срок, в течение которого люди смогут принять участие в этом голосовании.
                </p>
                @*<p>
                    <a href="http://wiki.democratia2.ru/Демократия-II-Голосование.ashx">Подробнее о создании голосования</a>
                </p>*@
            </div>
        </div>
        <br />
        <div class="tableanounce" id="tableanounce_petitions">
            <div class="icon"></div>
            <div class="title">
                <a name="petitions">
                    <h2>Петиции</h2>
                </a>
            </div>
            <div class="anounce">
                <p>
                    Петиции в Демократии2 - это электронная версия подписных листов. После того как участник группы подписывает какую-либо петицию, он присоединяется к списку подписантов, и не может забрать свой голос назад.
                </p>
                <p>
                    Петиции могут использоваться для подписей людей, поддерживающих ту или иную инициативу, чтобы впоследствии направить эту петицию на рассмотрение ответственным лицам.
                    Как правило, петиции открываются для подписи на достаточно долгий срок - несколько недель или месяцев.
                </p>
                <p>
                    Одним из вариантов использования петиций могут быть праймериз среди идей или кандидатов - для отбора среди многих - реальных кандидатов для голосования или выборов, в частности Петиции также реализуют механизм сбора подписей для регистрации того или иного кандидата на выборах, подробнее смотрите в разделе <a href="#elections">Выборы</a>.
                </p>
            </div>
        </div>
        <br />
        <div class="tableanounce" id="tableanounce_elections">
            <div class="icon"></div>
            <div class="title">
                <a name="elections">
                    <h2>Выборы</h2>
                </a>
            </div>
            <div class="anounce">
                <p>
                    Система позволяет проводить выборы любого набора выборных должностей - и с одним победителем и с несколькими.
                </p>
                <p>
                    Записи о Выборах в системе маркируются голубыми окантовками и уголками. У прошедших (завершившихся или не состоявшихся) выборов, уголок отсутствует.
                </p>
                <a name="moderelections">
                    <h3>Выборы руководства групп</h3>
                </a>
                <p>
                    По состоянию на конец декабря 2011, тестируются выборы модераторов - руководства групп. Во всех группах, где количество участников превысило 50 человек - модераторы могут запустить выборы.
                </p>
                <p>
                    Следующим этапом развития выборной системы будет возможность группам создавать выборные должности и проводить соответствующие выборы.
                </p>
                <a name="elections_petitions">
                    <h3>Механизм выдвижения кандидатов</h3>
                </a>
                <p>
                    После того как запущен процесс выборов - в ленте группы появляется запись о выдвижении кандидатов. 
                </p>
                <p>
                    Любой участник группы может подать заявку на регистрацию в качестве кандидата. 
                    Во время подачи заявки, система создает для участника специальную петицию, в которой он формулирует свою программу по компетенции выборной должности.
                    После создания петиции, другие участники могут поддерживать его регистрацию в качестве кандидата - для этого они должны подписать эту петицию.
                </p>
                <p>
                    В случае, если петиция участника набирает минимальное проходное количество голосов (обычно 5) - участник становится полноправным кандидатом на выборах.
                </p>                        
            </div>
        </div>
        <br />
        <div class="tableanounce" id="tableanounce_experts">
            <div class="icon"></div>
            <div class="title">
                <a name="experts">
                    <h2>Эксперты и делегирование</h2>
                </a>
            </div>
            <div class="anounce">
                <p>
                    Голосования в группе могут быть по самым разным темам, по части из которых можно делегировать свой голос участникам группы, выступающим в роли экспертов.
                </p>
                <p>
                    Любой участник группы может заявить себя экспертом по одной или нескольким темам - тэгам, утверждённым модераторами группы. После этого он появляется в списке экспертов по этому тэгу, и ему можно делегировать свой голос по этой теме.
                </p>
                <a name="experts_more">
                    <h3>Подробнее о делегировании</h3>
                </a>
                <p>
                    Когда вы делегируете свой голос по какой-то теме, ваш делегат (эксперт, которому вы делегировали эту тему), добавляет ваш голос к своему, когда голосует сам.
                </p>
                <p>
                    Вы в любой момент можете забрать свой голос и начать голосовать по этой теме самостоятельно, или передать голос другому эксперту. В случае если голосование уже началось, и вы отзываете голос, ваш отозванный голос будет всё равно использован экспертом, и только после этого освободится.
                </p>                            
                <a name="mostexperts">
                    <h3>Наиболее авторитетные эксперты</h3>
                </a>
                <p>
                    Список наиболее авторитетных (тех, у кого наибольшее количество делегированных голосов) экспертов в разработке.
                </p>
            </div>
        </div>
    </div>