@{
    ViewBag.Title = "Что делать, если SMS не приходит?";
    ViewBag.LayoutStyle = "layout_start";
}

@Html.Partial("_MainMenu")

<div class="layout_pageheader"></div>
<div class="lighttabs_container">
    <ul class="lighttabs">
        <li>
            <a class="back">◄</a>
        </li>
        <li>
            <a class="selected">@ViewBag.Title</a>
        </li>
    </ul>
    <div class="lighttabs_border"></div>
</div>
<div class="body">
    <p>
        Все пользователи являются неанонимными и должны быть верифицированы.<br />
        В данный момент мы используем верификацию с привязкой к номеру телефона.<br />
        При верификации в автоматическом режиме могут возникнуть технические проблемы.
    </p>
    <p>
        Мы предлагаем следующее решение.
    </p>

    <ul>
        <li>
            Повторите попытку.
        </li>
        <li>
            Подождите некоторое время, в некоторых случаях SMS доходят спустя несколько часов.
        </li>
        <li>
            Если SMS так и не было, 
            <b>пришлите письмо на адрес <a href="mailto:support@democratia2.ru">support@democratia2.ru</a> с данными о себе в следующем формате:</b>
        </li>
        <li> - Фамилия, имя, отчество</li>
        <li> - Email аккаунта на Демократии2</li>
        <li> - Ваш номер телефона, по которому с вами можно связаться</li>
        <li> - В двух предложениях о себе</li>
    </ul>
    <br/>
    <p>
        Мы приносим извинения за неудобства, особенно если вы уже связывались с нами по этому вопросу.
    </p>
</div>