<div class="counters" style="float: right">
    @if (Request.Url != null && Request.Url.Host.IndexOf("federation.ru") < 0)
    { 
        <!-- Yandex.Metrika counter -->
        <div style="display:none">
            <script type="text/javascript">
                (function (w, c) {
                    (w[c] = w[c] || []).push(function() {
                        try {
                            w.yaCounter10500844 = new Ya.Metrika({ id: 10500844, enableAll: true, trackHash: true, webvisor: true });
                        }
                        catch (e) { }
                    });
                })(window, "yandex_metrika_callbacks");
            </script>
        </div>
        <script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
        <noscript>
            <div><img src="//mc.yandex.ru/watch/10500844" style="position: absolute; left: -9999px" alt="" /></div>
        </noscript>
        <!-- /Yandex.Metrika counter -->                                    

        <!--LiveInternet counter-->
        <script type="text/javascript"><!--
            document.write("<a href='http://www.liveinternet.ru/click' " +
                "target=_blank><img src='//counter.yadro.ru/hit?t45.1;r" +
                escape(document.referrer) + ((typeof (screen) == "undefined") ? "" :
                ";s" + screen.width + "*" + screen.height + "*" + (screen.colorDepth ?
                screen.colorDepth : screen.pixelDepth)) + ";u" + escape(document.URL) +
                ";h" + escape(document.title.substring(0, 80)) + ";" + Math.random() +
                "' alt='' title='LiveInternet' " +
                "border='0' width='31' height='31'><\/a>");
        //--></script>
        <!--/LiveInternet-->

        <!--Google-->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-26525114-1']);
            _gaq.push(['_setDomainName', 'democratia2.ru']);
            _gaq.push(['_setAllowLinker', true]);
            _gaq.push(['_trackPageview']);
            (function () {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        <!--/Google-->
    }
</div>