<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <script src="../../Resources/scripts/jquery-1.7.2.min.js" type="text/javascript"></script>
        <script src="../../Resources/scripts/oneclickbuttons.js" type="text/javascript"></script>
    </head>
    <body>        
        <div>
            @RenderBody()
        </div>
    </body>
</html>