<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="EntityModelContainer" connectionString="metadata=res://*/EntityModel.csdl|res://*/EntityModel.ssdl|res://*/EntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=d1021;user id=sa;password=;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <runtime>
    <legacyCasPolicy enabled="true" />
  </runtime>
  <appSettings>
    <!-- PayPal Bank Cart Validation -->
    <add key="deviceId" value="platformSDKDotNetSample"/>
    <add key="ipAddress" value="127.0.0.1"/>
    <add key="TrustAll" value="true"/>
    <add key="ENDPOINT" value="https://svcs.paypal.com/"/>
    <add key="PAYPAL_REDIRECT_URL" value="https://www.paypal.com/webscr&amp;cmd="/>
    <add key="APPLICATION-ID" value=""/>
    <!--SOAP11 , JSON , XML-->
    <add key="API_REQUESTFORMAT" value="SOAP11"/>
    <add key="API_RESPONSEFORMAT" value="SOAP11"/>
    <!--/*Three Token Credentials*/   -->
    <add key="API_AUTHENTICATION_MODE" value="3TOKEN"/>
    <add key="API_USERNAME" value="dr.arbium_api1.gmail.com"/>
    <add key="API_PASSWORD" value=""/>
    <add key="API_SIGNATURE" value=""/>

  </appSettings>
</configuration>
