<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="FeedbackModelContainer" connectionString="metadata=res://*/Model.FeedbackModel.csdl|res://*/Model.FeedbackModel.ssdl|res://*/Model.FeedbackModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=Federation;Persist Security Info=True;User ID=sa;Password=leontii;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>