@using Federation.Web.ViewModels
@model object
@{
    ViewBag.Title = "Участники системы";
}

@Html.Partial("_MainMenu")

<div class="layout_pageheader"></div>
<div class="layout_sidemenu">
    @if (!Request.IsAuthenticated)
    {
        <div class="signin">
            @Html.Partial("_SignIn", new SignInViewModel())
        </div>
    }
</div>
<div class="layout_content">
    <div class="lighttabs_container">
        <ul class="lighttabs">
            <li>
                <a class="back">◄</a>
            </li>
            <li>
                <a class="selected">@ViewBag.Title</a>
            </li>
        </ul>
        <div class="lighttabs_border"></div>
    </div>
    <div class="body">
        <h1>
            Участники системы
        </h1>
        <p>
            Участником системы может быть любой гражданин РФ, проживающий
            как на территории РФ, так и за ее пределами.
        </p>
        <p>
            Каждый участник системы обязан заполнить о себе следующие данные: ФИО, место жительства
            и дату рождения. Все эти данные в совокупности однозначно идентифицируют его как
            физическое лицо. При этом в публичный доступ попадают только ФИО и место жительства.
            Неанонимность или, как мы ее еще называем, принудительная честность является одним
            из трех основополагающих столпов нашей системы. Надо понимать, что голосования,
            которые проходят в рамках системы, и решения, которые принимаются путем голосований,
            будут иметь смысл только в том случае, если в системе будет четко соблюдаться принцип:
            1 человек — 1 голос, т.е. не будет ни ботов, ни троллей, ни анонимных аккаунтов.
            Именно поэтому организаторы системы оставляют за собой право тщательного контроля
            за соблюдением этого принципа. На стартовом этапе развития системы, пока мы не внедрили
            массовое использование электронно-цифровой подписи, для облегчения проверки идентификации
            участников системы, при регистрации мы предлагаем пользователям максимально полно
            перенести информацию из существующих у них аккаунтов в социальных сетях с указанием
            соответствующих ссылок. Это могут быть аккаунты в Facebooke, Вконтакте, в Твиттере,
            ЖЖ и других популярных соцсетях.
        </p>
        <p>
            При пользовании системой участники должны быть корректны и вежливы друг к другу,
            должны придерживаться общих правил цивилизованного человеческого общения, а также
            понимать, что система находится в режиме тестовой эксплуатации, поэтому относиться
            к ошибкам и сбоям в системе одновременно и с пониманием, и критически. В том случае,
            если пользователь обнаружил ошибку, он должен ее подробно описать и предоставить
            эту информацию разработчикам системы.
        </p>
    </div>
</div>