@using Federation.Web.ViewModels
@model Group_Election_AboutViewModel

<div class="rules @Model.StageClass">
    <h2>Правила выборов</h2>
    <p></p>
    <p>
        В соответствии с настройками группы, каждые @Model.ElectionPeriodString происходят выборы @Model.GroupModersCountString
        группы.
    </p>
    <p>
        Модераторы осуществляют управление группой, формируют темы(тэги), по которым будут проводится обсуждения и голосования в группе, а также осуществляют одерацию контента.
    </p>
    <p>
        Процесс выборов состоит из трёх стадий:
    </p>
    <p class="agitation">
        1. Выдвижение кандидатов - за 1 месяц до старта голосования в газете Демократии2,
        на стене группы и в подписке у подписавшихся, проходит сообщение о предстоящем старте
        выборов. Начиная с этого момента, любой участник группы может заявить себя как кандидата.
        При подаче заявления, для каждого кандидата, в группе создается специальная петиция,
        подписанты которой согласны видеть заявителя в списках кандидатов.
    </p>
    <p class="voting">
        2. Собственно, голосование по кандидатам, прошедшим минимальный порог
        голосов.
    </p>
    <p>
        В соответствии с настройками группы, сейчас это 5 подписей.
    </p>
    <p>
        Кандидаты распределяются в порядке убывания количества подписантов, подписавших
        их петиции.
    </p>
    <p class="completed">
        3. Подсчет голосов производится по окончании голосования - через 1 неделю после
        старта голосования.
    </p>
</div>