@using Federation.Web.ViewModels
@model GroupEditPetitionCoauthorsViewModel
@{
    ViewBag.Title = "Управление соавторами петиции";
}

<div class="layout_pageheader"></div>
<div class="layout_sidemenu">
    @Html.Partial("_NavigationBox", new _NavigationBoxViewModel(Model.GroupId, NavigationBoxType.Group))
</div>
<div class="layout_content">
    <div class="lighttabs_container">
        <ul class="lighttabs">
            <li>
                <a class="back">◄</a>
            </li>
            <li>
                <a class="selected">@ViewBag.Title</a>
            </li>
        </ul>
        <div class="lighttabs_border"></div>
    </div>
    <div class="body">
        @Html.Partial("_EditPetitionCoauthors", Model.EditPetitionCoauthors)
    </div>
</div>